:root {
    /* Primary Colors */
    --primary-color: #2C2C2C;
    --primary-dark: #B7410E;
    --primary-light: #ac841f;

    /* Secondary Colors */
    --seconday-color: #A49E9E;
    --secondary-dark: #5C4033;
    --secondary-light: #FF6B1A;

    /* Background Text */
    --text-color: #F5F2E7;
    --text-background: #1A1A1A;

}

body {
    background-color: var(--secondary-dark);
    font-family: 'cinzel', sans-serif;
}

h1 {
    background-color: var(--text-background);
    color: var(--primary-dark);
    padding: 14px;
    display: flex;
    justify-content: center;
    font-family: 'Cinzel Decorative', serif;
}

h2 {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    font-family: 'Cinzel Decorative', serif;
}

p {
    color: var(--text-color);
    font-family: 'cinzel', serif;
    background-color:var(--primary-dark) ;
}

.logo{
    width: 600px;
}
.wfp{
    width: 600px;
}
.wfd {
    width: 600px;
}